header {
    background-color: rgb(0, 0, 0);
    height: 80px;
}

body {
  background-color: #fff;
  color: var(--dark);
  line-height: 1.6;
}
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100
}